In [21]:
from micom.data import test_data

data = test_data()
data

,id,genus,species,reactions,metabolites,sample_id,abundance
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_1,20
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_1,94
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_1,519
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_1,704
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_2,184
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_2,9
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_2,961
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_2,389
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_3,558
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_3,729
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_3,943
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_3,954
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_4,670
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_4,366
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_4,305
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_4,10

In [19]:
from micom.data import test_medium
from micom.qiime_formats import load_qiime_medium
from micom.qiime_formats import load_qiime_model_db

model_path="/Users/alexandre/Documents/Mestrado/DISSERTAÇÃO/tmCOM/models/agora103_species.qza"

model = load_qiime_model_db(model_path,"models")
model

,organism,kingdom,phylum,class,order,family,genus,oxygenstat,metabolism,gram,...,species,file,ncbiid,kbaseid,seedid,taxa_id,imgid,phenotype,id,summary_rank
0,Melainabacterium MEL.A1,Bacteria,Cyanobacteria,Melainabacteria,unclassified Melainabacteria,unclassified Melainabacteria,unclassified Melainabacteria,Obligate anaerobe (inferred from sequence),"Saccharolytic, fermentative (inferred from seq...",Negative (inferred from sequence),...,MEL.A1,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,NaN,NaN,NaN,NaN,NaN,NaN,MEL_A1,species
1,Candidatus Nitrososphaera gargensis Ga9.2,Archaea,Thaumarchaeota,Nitrososphaeria,Nitrososphaerales,Nitrososphaeraceae,Nitrososphaera,Aerobe,"Oxidation of ammonia, inorganic carbon",Uncharacterized,...,Nitrososphaera,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,1237085.0,kb|g.238840,NaN,NaN,NaN,NaN,Nitrososphaera,species
2,Clostridium acetobutylicum ATCC 824,Bacteria,Firmicutes,Clostridia,Clostridiales,Clostridiaceae,Clostridium,Anaerobe,"Saccharolytic, fermentative",Positive,...,acetobutylicum,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,272562.0,kb|g.602,Clostridium acetobutylicum ATCC 824 (272562.8),1488.0,NaN,NaN,acetobutylicum,species
3,NaN,Bacteria,Firmicutes,Bacilli,Lactobacillales,Lactobacillaceae,Pediococcus,Obligate anaerobe,"Saccharolytic, respiratory or fermentative",Positive,...,acidilactici,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,NaN,NaN,NaN,1254.0,NaN,NaN,acidilactici,species
4,Propionibacterium acidipropionici ATCC 4875,Bacteria,Actinobacteria,Actinobacteria,Actinomycetales,Propionibacteriaceae,Propionibacterium,Facultative anaerobe,"Saccharolytic, fermentative",Positive,...,acidipropionici,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,1171373.0,kb|g.25121,Propionibacterium acidipropionici ATCC 4875 (1...,1748.0,2.521173e+09,NaN,acidipropionici,species
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,NaN,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,Nanaerobe,"Saccharolytic, fermentative",Negative,...,xylanisolvens,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,NaN,NaN,NaN,371601.0,NaN,NaN,xylanisolvens,species
583,NaN,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,Negative,...,xylosoxidans,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,NaN,NaN,Achromobacter xylosoxidans A8 (762376.5),85698.0,NaN,NaN,xylosoxidans,species
584,NaN,Bacteria,Firmicutes,Bacilli,Bacillales,Staphylococcaceae,Staphylococcus,Facultative anaerobe,"Saccharolytic, respiratory or fermentative",Positive,...,xylosus,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,NaN,NaN,NaN,1288.0,NaN,NaN,xylosus,species
585,Paracoccus yeei ATCC BAA-599,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodobacterales,Rhodobacteraceae,Paracoccus,Aerobe,Respiratory,Negative,...,yeei,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,1446473.0,kb|g.242186,NaN,147645.0,NaN,NaN,yeei,species
586,Citrobacter youngae ATCC 29220,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Citrobacter,Facultative anaerobe,"Fermentative or respiratory, citrate and a var...",Negative,...,youngae,models/4ce8f8cf-98ea-4f45-bd80-86bf36efb506/da...,500640.0,NaN,Citrobacter youngae ATCC 29220 (500640.5),133448.0,2.562617e+09,3.0,youngae,species

In [20]:
medium = load_qiime_medium(test_medium)
medium

                reaction       flux metabolite
reaction
EX_glc__D_m  EX_glc__D_m  10.000000   glc__D_m
EX_nh4_m        EX_nh4_m   4.362240      nh4_m
EX_o2_m          EX_o2_m  18.579253       o2_m
EX_pi_m          EX_pi_m   2.942960       pi_m

In [27]:
from micom.workflows import build

manifest = build(data, out_folder="models", model_db=model, cutoff=0.0001, threads=2)

[15:49:21] WARNING  Found existing models for 4 samples. Will skip those. Delete the output folder if   ]8;id=726627;file:///usr/local/Caskroom/miniforge/base/lib/python3.10/site-packages/micom/workflows/build.py\build.py]8;;\:]8;id=777980;file:///usr/local/Caskroom/miniforge/base/lib/python3.10/site-packages/micom/workflows/build.py#95\95]8;;\
                    you would like me to rebuild them.

Output()

In [28]:
manifest

,reactions,metabolites,sample_id,file,found_taxa,total_taxa,found_fraction,found_abundance_fraction
0,95,72,sample_1,sample_1.pickle,3.0,4.0,0.75,0.896243
1,95,72,sample_2,sample_2.pickle,3.0,4.0,0.75,0.754210
2,95,72,sample_3,sample_3.pickle,3.0,4.0,0.75,0.893680
3,95,72,sample_4,sample_4.pickle,3.0,4.0,0.75,0.875663

In [24]:
from micom.workflows import grow

res = grow(manifest, model_folder="models", medium=medium, tradeoff=0.5, threads=2)

Output()

In [26]:
from micom.workflows import tradeoff

tradeoff_rates = tradeoff(manifest, model_folder="models", medium=medium, threads=2)
tradeoff_rates.head()

Output()

,abundance,growth_rate,reactions,metabolites,taxon,tradeoff,sample_id
compartments,,,,,,,
Escherichia_coli_2,0.367889,0.808230,95,72,Escherichia_coli_2,NaN,sample_2
Escherichia_coli_3,0.434343,0.939024,95,72,Escherichia_coli_3,NaN,sample_2
Escherichia_coli_4,0.197767,0.476285,95,72,Escherichia_coli_4,NaN,sample_2
Escherichia_coli_2,0.367889,0.810121,95,72,Escherichia_coli_2,1.0,sample_2
Escherichia_coli_3,0.434343,0.956458,95,72,Escherichia_coli_3,1.0,sample_2

In [29]:
tradeoff_rates.groupby("tradeoff").apply(
    lambda df: (df.growth_rate > 1e-6).sum()).reset_index()

   tradeoff   0
0       0.1  12
1       0.2  12
2       0.3  12
3       0.4  12
4       0.5  12
5       0.6  12
6       0.7  12
7       0.8  12
8       0.9  12
9       1.0  12

In [33]:
from micom.viz import plot_tradeoff

pl = plot_tradeoff(tradeoff_rates, filename="tradeoff.html")
pl.view()

In [35]:
from micom.viz import plot_growth

pl = plot_growth(res, filename="growth_rates.html")
pl.view()

In [36]:
from micom.viz import plot_exchanges_per_sample

pl = plot_exchanges_per_sample(res, filename="consumption.html")
pl.view()

In [38]:
from micom.viz import plot_exchanges_per_taxon

pl = plot_exchanges_per_taxon(res, filename="niche.html")
pl.view()

[15:54:11] WARNING  Not enough samples. Adjusting T-SNE perplexity to 2.                           ]8;id=450396;file:///usr/local/Caskroom/miniforge/base/lib/python3.10/site-packages/micom/viz/exchanges.py\exchanges.py]8;;\:]8;id=897828;file:///usr/local/Caskroom/miniforge/base/lib/python3.10/site-packages/micom/viz/exchanges.py#127\127]8;;\

/usr/local/Caskroom/miniforge/base/lib/python3.10/site-packages/sklearn/manifold/_t_sne.py:996: FutureWarning: The PCA initialization in TSNE will change to have the standard deviation of PC1 equal to 1e-4 in 1.2. This will ensure better convergence.
  warnings.warn(